li {
    list-style-type: none;
    display: flex;
    /* border: 1px solid #ccc; */
    justify-content: space-between;
    width: 100%;
    height: 1.6em;
}

.list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    /* Set your desired width */
    /* height: 100%; */
    background-color: rgba(0, 0, 0, 0);
    /* Invisible background */
    /* border: 1px solid #ccc; Optional: Add a border for visibility */
    resize: none;
    /* Optional: Prevent resizing */
    font-size: 1rem;
}

.delete-button {
    border-radius: 8px;
    border: 1px solid transparent;
    /* padding: 0.6em 1.2em; */
    /* font-size: 1em; */
    font-weight: 500;
    font-family: inherit;
    background-color: #f15454;
    cursor: pointer;
    transition: border-color 0.25s;

}

button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}